<!DOCTYPE html>
<html lang="en">
<head>
  <title> Posting</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/personalpage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<style>
.login-form 
{
  margin: auto;
  width: 50%;
}
</style>
</style>
</head>
<body >
<nav class="navbar navbar-expand-sm navbar-dark row" >
      <!-- Brand/logo -->
      <!-- Links -->
        <ul class="navbar-nav" >  
          <a  href="/"><img src="images/logo3.png" alt="logo" style="width: 70px;" ></a>
          <li class="nav-item"><a class="nav-link text-dark" href="#"><h5>Home</h5></a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="#"><h5>Jobs</h5></a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="#"><h5>Account</h5></a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="#"><h5>About</h5></a></li>
        </ul>
</nav>


<div class="login-form">
    <form action='/postjob' method="post">
        <h3 class="text-center">Posting jobs</h3>
          <form action='/postJob' method = "POST" enctype="multipart/form-data">               
              <input type="company" style="width: 98%; margin-bottom: 10px;"  id="cname" name="name" placeholder="Company name"> 
              <input type="jobtitle"  style="width: 98%; margin-bottom: 10px;"  id="jobtitle" name="jobtitle" placeholder="Job Title"> 
              <input type="location" style="width: 98%; margin-bottom: 10px;" id="location" name="location" placeholder="Location"> 
              <label>Job function</label>
              <select id="option" name="category" style="width: 98%; margin-bottom: 10px;">
                <option value="employer">Computer Vision</option>
                <option value="employer">Deep Learning</option>
                <option value="student">Robotics</option>       
              </select> 
              <label>Employment type</label>
              <select id="option" name="workType" style="width: 98%; margin-bottom: 10px;">
                <option value="employer">Full-time</option>
                <option value="employer">Part-time</option>
                <option value="student">Contrac</option> 
                <option value="employer">Temporary</option>
                <option value="employer">Volunteer</option>
                <option value="student">Intership</option>       
              </select> 
              <label>Job description</label>
              <textarea class="form-control" style="margin-bottom: 10px;" rows="5" id="description" name="description"></textarea>
              <label>Job requirement</label>
              <textarea class="form-control" style="margin-bottom: 10px;" rows="5" id="description" name="requirement"></textarea>
              <button type="submit" class="btn btn-primary" style="margin-bottom: 20px;" onclick="myFunction()">Post</button>
          </form>  
        
             
</div>
</body>
<script>
function myFunction() {
  alert("Success!");
}
</script>