<!DOCTYPE html>
<html lang="en">
<head>
  <title> Posting</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/personalpage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<style>
.login-form 
{
  margin: auto;
  width: 50%;
}
body {
    <!-- background-image: url("/images/bk.jpg"); -->
    background-color: #cccccc;
    }
body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}


#navbar {
  overflow: hidden;
  background-color: black;
  z-index: 10;
}

#navbar a {
  float: left;
  display: block;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}


#navbar a.active {
  background-color: #4CAF50;
  color: white;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.bg-image {
  /* The image used */
  background-image: url("Our 2.png");
  
  /* Add the blur effect */
 
  /* Full height */
  height: 150%; 
  width: auto;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  color: white;
}
.bg-image1 {
  /* The image used */
  
 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  color: white;
  width: 100%;
  max-height: 100%;
}
.cs
{
  font-size: 15px; font-family: Times New Roman;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
.v1{width:88%;margin:auto;}
.col-md-4{font-size: 20px;}
</style>
</style>
</head>
<body >
<div id="navbar" >
  <ul>
    <li><a class="navbar-brand " href="/"><img src="images/logoc.png" width="150" height="200"   ></a></li>
    <li><a href='/editProfile' style="color: white;">Setting</a></li>
    <li><a href="/logout" style="color: white;">Sign out</a></li>
 
		
      <li style="float: right;"><a class="nav-link " href="/postjob"><img src="images/upload.png" alt="logo" style="width:40px;" ></a></li>
      <li style="float: right;"><a href="/companyPage"><img src="/<%=user.avatar%>" class=" rounded-circle" alt="Cinque Terre" width="40" height="40"  ></a></li>
       
   
  </ul>
</div>


<div class="login-form" style = " padding-top:50px;">
    <form action='/postjob' method="POST">
        <h1 class="text-center" ><b>Posting jobs</b></h3>
          <form action='/postJob' method = "POST" enctype="multipart/form-data">               
              <input type="company" style="width: 98%; margin-bottom: 10px;"  id="cname" name="name" placeholder="Company name"> 
              <input type="jobtitle"  style="width: 98%; margin-bottom: 10px;"  id="jobtitle" name="jobtitle" placeholder="Job Title"> 
              <input type="location" style="width: 98%; margin-bottom: 10px;" id="location" name="location" placeholder="Location"> 
              <label color ="white"  >Job function</label>
              <select id="option" name="category" style="width: 98%; margin-bottom: 10px;">
                <option value="Computer Vision">Computer Vision</option>
                <option value="Deep Learning">Deep Learning</option>
                <option value="Robotics">Robotics</option>       
              </select> 
              <label  >Employment type</label>
              <select id="option" name="workType" style="width: 98%; margin-bottom: 10px;">
                <option value="Full-time">Full-time</option>
                <option value="Part-time">Part-time</option>
                <option value="Contract">Contract</option> 
                <option value="Temporary">Temporary</option>
                <option value="Volunteer">Volunteer</option>
                <option value="Intership">Intership</option>       
              </select> 
              <label  >Job description</label>
              <textarea class="form-control" style="margin-bottom: 10px;" rows="5" id="description" name="description"></textarea>
              <label >Job requirement</label>
              <textarea class="form-control" style="margin-bottom: 10px;" rows="5" id="description" name="requirement"></textarea>
              <button type="submit" class="btn btn-primary" style="margin-bottom: 20px;" onclick="myFunction()">Post</button>
          </form>  
        
             
</div>
</body>
<script>
function myFunction() {
  alert("Success!");
}
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>