<!DOCTYPE html>
<html lang="en">
<head>
  <title> Edit profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/edit.css">
  <style>
  .user-message{
  margin:auto;
  width:90%;
  border:1px, solid,#4771fa;
  padding: 1rem;
  border-radius: 3px;
  background: #b9c9ff;
  text-align: center;

}

.user-message--error{
  border-color: red;
  background: rgb(175, 86, 86)
}
body {
  margin: 0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}


#navbar {
  overflow: hidden;
  background-color: black;
  z-index: 10;
}

#navbar a {
  float: left;
  display: block;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


#navbar a.active {
  background-color: #4CAF50;
  color: white;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.bg-image {
  /* The image used */
  background-image: url("Our 2.png");
  
  /* Add the blur effect */
 
  /* Full height */
  height: 150%; 
  width: auto;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  color: white;
}
.cs
{
  font-size: 15px; font-family: Times New Roman;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

  </style>
</head>

<body>

<div id="navbar" >
  <ul>
    <li style="width: 100px;"><a class="navbar-brand " href="/"><img src="/images/logo3.png" width="30" height="30"   ></a></li>
  
    <li><a href="/login" style="color: white;">Sign in</a></li>
    <li><a href="/register" style="color: white;">Sign up</a></li>
    
      
      
  </ul>
</div>
  <div class="p-5 row ">
    <div class="col-sm-3" style="background-color:bg-light;" margin = 'auto'>
      <div>
       
          
      </div>
      </div>
      
    </div>

    <div class="col-sm-9 bg-light" style="background-color:lavenderblush;">
      <div class="col-sm-10 center">
        <h4><b>Account</b></h4>
        <div>
            <form method = "POST" action = "/resetPassword">
          <label for="comment">Reset your password</label>
          <p><b>New password</b></p>
          <p style="color: grey ">The most secure passwords are at least 8 characters long and include a mix of letters, numbers, and symbols.</p>
          <% if(errorMessage){%>
            <div class="user-message use-message--error"><%=errorMessage%></div>
            <%}%>
          <textarea class="form-control" rows="1" id="comment" name="newPassword"></textarea>
          <p class="p-2"></p>
          <p><b>Confirm new password</b></p>
          <textarea class="form-control" rows="1" id="comment" name="confirmPassword"></textarea>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
          <p class="p-2"></p>

          <button type="submit" class="btn btn-primary">Update Password</button>
          <p class="p-2"></p>
          </form>
        </div>
      </div>
    </div>

  </div>
  <!--End of row-->
</div>


<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({html:true});   
});
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("GET", "ajax_info.txt", true);
  xhttp.send();
}
</script>

</body>
</html>
