<!DOCTYPE html>
<html lang="en">
<head>
  <title> Index</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/personalpage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>


<body>


  <nav class="navbar navbar-expand-sm bg-light navbar-dark row" >
      <!-- Brand/logo -->
      <!-- Links -->
      <div class="col-md-3">
        <ul class="navbar-nav" >
           
        	<a class="navbar-brand " href="main.html"><img src="images/logo3.png" alt="logo" style="width: 70px;"></a>
          <li class="nav-item"><a class="nav-link text-dark" href="signin.html"><h5>Sign in</h5></a></li>
        </ul>
      </div>
      <div class="col-md-7" >
        <form class="example"  style="margin:auto;max-width:400px" action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <div class="col-md-2" >
        <ul class="navbar-nav" >
          
    <img src="images/nofi.png" class=" rounded-circle" alt="Cinque Terre" width="30" height="30" ></a>
          <a href="personalpage.html" role="button" class="btn popovers nav-link text-dark"  data-toggle="popover" data-placement="bottom" title="" data-content="<li><a href='editprofile.html' title='test add link'>Setting</a></li><li><a href='#' title='test add link'>Logout</a></li>" data-original-title="Shawn Mendes"><img src="images/visitor2.jpeg" class=" rounded-circle" alt="Cinque Terre" width="30" height="30"  ></a>
          <a class="nav-link " href="uploadpage.html"><img src="images/upload.png" alt="logo" style="width:30px;" ></a>
        </ul>
    </div>
  </nav>


  <div class="container ">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="images/slide11.jpg" alt="Los Angeles" style="width:100%; ">
        <div class="carousel-caption">
          <h3>DemoCourt</h3>
          <p>It's free to showcase your work!</p>
          <a href="signup.html" class="btn btn-success btn-md" role="button">Sign up</a>
        </div>
      </div>

      <div class="item">
        <img src="images/slide4.jpg"  alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <h3>DemoCourt</h3>
          <p>It's easy and simple!</p>
        </div>
      </div>
    
      <div class="item">
        <img src="images/slide9.png"  alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>DemoCourt</h3>
          <p>It's for yall, computer vision, robostic and deep learning</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>

<div class="p-5 container-fluid bg-light">
  <h4 style="margin-left: 4%">Recented video</h4>
  
  <div class=" grid-container " >
      <div style="border: 0.5 px solid grey"><iframe  width="220" height="145" src="https://www.youtube.com/embed/Wm6CUkswsNw" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Build an HTML 5 online</p></a>
                <p style="color: grey">20,305 views | 3 days ago</p>
      </div>
      <div><iframe align="center" width="220" height="145" src="https://www.youtube.com/embed/UnTQVlqmDQ0" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Web Development 2019: A pratical guide</p></a>
                <p style="color: grey">210,589 views | 2 weeks ago</p>
      </div>
      <div><iframe align="center" width="220" height="145" src="https://www.youtube.com/embed/rfscVS0vtbw" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Learn Python: Full course</p></a>
                <p style="color: grey">1M views | 5 days ago</p>
      </div>
      <div><iframe align="center" width="220" height="145" src="https://www.youtube.com/embed/9dFhZFUkzuQ" >
                </iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Machine learning</p></a>
                <p style="color: grey">7,985 views | 3 days ago</p>
      </div>
  </div>
  <h4 style="margin-left: 4%">Computer Vision</h4>
    <div class=" grid-container " >
      <div style="border: 0.5 px solid grey"><iframe  width="220" height="145" src="https://www.youtube.com/embed/0yRtXML8Sns" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Build a Facial Recognition AI</p></a>
                <p style="color: grey">20,305 views | 3 days ago</p>
      </div>
      <div><iframe align="center" width="220" height="145" src="https://www.youtube.com/embed/tTijEvJqTzI" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Machine Learning</p></a>
                <p style="color: grey">210,589 views | 2 weeks ago</p>
      </div>
      <div><iframe align="center" width="220" height="145" src="https://www.youtube.com/embed/eQLcDmfmGB0" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Computer vision</p></a>
                <p style="color: grey">1M views | 5 days ago</p>
      </div>
      <div><iframe align="center" width="220" height="145" src="https://www.youtube.com/embed/QL-6PdiDTeo" >
                </iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Top 10 Internet of things of all the time</p></a>
                <p style="color: grey">1.9M views | 6 days ago</p>
      </div>
       <div style="border: 0.5 px solid grey"><iframe  width="220" height="145" src="https://www.youtube.com/embed/XRJwIakB5Fg" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Python Projects</p></a>
                <p style="color: grey">20,305 views | 3 days ago</p>
      </div>
      <div><iframe align="center" width="220" height="145" src="https://www.youtube.com/embed/on9nwbZngyw" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>How to make a 2D Game in Unity</p></a>
                <p style="color: grey">210,589 views | 2 weeks ago</p>
      </div>
      <div><iframe align="center" width="220" height="145" src="https://www.youtube.com/embed/t5OgF2j88S8" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Build multiplayer faster in Unity </p></a>
                <p style="color: grey">1M views | 5 days ago</p>
      </div>
      <div><iframe align="center" width="220" height="145" src="https://www.youtube.com/embed/z06QR-tz1_" >
                </iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Making a first game</p></a>
                <p style="color: grey">1.9M views | 6 days ago</p>
      </div>

    </div>
  <h4 style="margin-left: 4%">Deep learning</h4>
    <div class=" grid-container " >
      <div style="border: 0.5 px solid grey"><iframe  width="220" height="145" src="https://www.youtube.com/embed/0yRtXML8Sns" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Build a Facial Recognition AI</p></a>
                <p style="color: grey">20,305 views | 3 days ago</p>
      </div>
      <div><iframe align="center" width="220" height="145" src="https://www.youtube.com/embed/tTijEvJqTzI" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Machine Learning</p></a>
                <p style="color: grey">210,589 views | 2 weeks ago</p>
      </div>
      <div><iframe align="center" width="220" height="145" src="https://www.youtube.com/embed/eQLcDmfmGB0" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Computer vision</p></a>
                <p style="color: grey">1M views | 5 days ago</p>
      </div>
      <div><iframe align="center" width="220" height="145" src="https://www.youtube.com/embed/QL-6PdiDTeo" >
                </iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Top 10 Internet of things of all the time</p></a>
                <p style="color: grey">1.9M views | 6 days ago</p>
      </div>
       <div style="border: 0.5 px solid grey"><iframe  width="220" height="145" src="https://www.youtube.com/embed/XRJwIakB5Fg" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Python Projects</p></a>
                <p style="color: grey">20,305 views | 3 days ago</p>
      </div>
      <div><iframe align="center" width="220" height="145" src="https://www.youtube.com/embed/on9nwbZngyw" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>How to make a 2D Game in Unity</p></a>
                <p style="color: grey">210,589 views | 2 weeks ago</p>
      </div>
      <div><iframe align="center" width="220" height="145" src="https://www.youtube.com/embed/t5OgF2j88S8" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Build multiplayer faster in Unity </p></a>
                <p style="color: grey">1M views | 5 days ago</p>
      </div>
      <div><iframe align="center" width="220" height="145" src="https://www.youtube.com/embed/z06QR-tz1_" >
                </iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Making a first game</p></a>
                <p style="color: grey">1.9M views | 6 days ago</p>
      </div>

    </div>


  <h4 style="margin-left: 4%">Robotics</h4>
    <div class=" grid-container " >
      <div style="border: 0.5 px solid grey"><iframe  width="220" height="145" src="https://www.youtube.com/embed/0yRtXML8Sns" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Build a Facial Recognition AI</p></a>
                <p style="color: grey">20,305 views | 3 days ago</p>
      </div>
      <div><iframe align="center" width="220" height="145" src="https://www.youtube.com/embed/tTijEvJqTzI" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Machine Learning</p></a>
                <p style="color: grey">210,589 views | 2 weeks ago</p>
      </div>
      <div><iframe align="center" width="220" height="145" src="https://www.youtube.com/embed/eQLcDmfmGB0" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Computer vision</p></a>
                <p style="color: grey">1M views | 5 days ago</p>
      </div>
      <div><iframe align="center" width="220" height="145" src="https://www.youtube.com/embed/QL-6PdiDTeo" >
                </iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Top 10 Internet of things of all the time</p></a>
                <p style="color: grey">1.9M views | 6 days ago</p>
      </div>
       <div style="border: 0.5 px solid grey"><iframe  width="220" height="145" src="https://www.youtube.com/embed/XRJwIakB5Fg" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>Python Projects</p></a>
                <p style="color: grey">20,305 views | 3 days ago</p>
      </div>
      <div><iframe align="center" width="220" height="145" src="https://www.youtube.com/embed/on9nwbZngyw" ></iframe>
                <a href="playvideo.html" style="text-decoration: none; color: black;"><p>How to make a 2D Game in Unity</p></a>
                <p style="color: grey">210,589 views | 2 weeks ago</p>
      </div>
      

    </div>


  
  <div class=" p-5 nav-item col-md-12 text-center " > 
    <a href="#" class="btn btn-default btn-md" role="button">View More Here</a>
  </div>

  <div class=" col-md-9 "><p style="float: left; color: grey;font-size: 10px;">@ DemoCourt 2019 </p></div>

  
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({html:true});   
});
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("GET", "ajax_info.txt", true);
  xhttp.send();
}

window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>

</body>
</html>
