<!DOCTYPE html>
<html lang="en">
<head>
  <title> My work</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
  ul.demo {
    list-style-type: none;
  }
</style>

<style type="text/css">.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px none;
  color: white;
  background-color: green;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}</style>


</head>

  
  <!--Style for footer -->
  <style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

.bg-img {
  /* The image used */
  background-image: url("img1.jpg");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* Make the image fully responsive */
  .carousel-inner img {
      width: 75%;
      height: 75%;
  }
</style>
</head>
<body>




<div class="p-5 container-fluid bg-light">
  <h1 class="text-lg-center" > Upload your work</h1>
  <p class="text-lg-center">Drag & drop your image and video files here or use the upload button above.</p>
  <div class=" p-5 nav-item col-md-12 text-center " > 
    <div class="file-upload-wrapper">
     
      <div class="upload-btn-wrapper col-md-12 text-center">
        <button class="btn ">Upload a file</button>
        <input type="file" name="myfile" />
      </div>
    </div>
  </div>
  <p class="p-5 text-lg-center">For images, JPG and PNG images are recommended (ensure you use RGB/sRGB color profiles), for optimal results we recommend using image sizes of at least 1280x1024. Virtually all video formats are supported, including native shockwave flash files. MP3 & WAV audio files are also supported as are PDF files (PDF's will be converted to images upon upload).</p>
</div>

<div class="p-5 container-fluid bg-light">
  <h1> Project Info</h1>
  <form action="/action_page.php">
    <div class="p-2 form-group">
      <label for="comment">Project Title:</label>
      <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>

  <form action="/action_page.php">
    <div class="form-group">
      <label for="comment">Description:</label>
      <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>

  </form>

</div>



</body>
</html>