

ul.demo {
  list-style-type: none;
}
.checked {
  color: orange;
}


body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("bg.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;

}
.ex1 {
	
	padding: 30px 30px 30px 30px;
  	width: 750px;
}

.iframe 
{ margin: 25px 25px 25px 25px; }


  


.bg-img {
  /* The image used */
  background-image: url("img1.jpg");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* Make the image fully responsive */
  .carousel-inner img {
      width: 75%;
      height: 75%;
  }

.grid-container {
  display: grid;
  grid-template-columns: auto auto  ;
  grid-gap: 10px;
  background-color: bg-light;
  padding: 10px;
  width: 80%;
  margin: auto;
}

.grid-container > div {
  background-color: bg-light;
  border: 1px solid black;
  align-items: center;
  font-size: 15px;
  margin-right: auto;
  margin-left: auto;
}
 .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {

  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


