<style type ="text/css">.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

ul.demo {
    list-style-type: none;
  }

.btn {
  border: 2px none;
  color: white;
  background-color: green;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}</style>
